.button {

width: 256px; /* размеры кноки */
height: 256px;
display: inline-block;
vertical-align: middle;
background: url(/img/upload.png);
background-repeat: no-repeat;
behavior: url(/lib/pie/backgroundsize.min.htc);
background-size: cover;
overflow: hidden; /* поможет избежать выхода поля за границы кнопки */
position: relative; /* относительно этого блока будем позиционировать поле */
}
.button input {
height: 256px;
position: absolute; /* для более простого позиционирования поля */
top: 0; /* начальные координаты */
right: 0;
opacity: 0; /* само поле делаем прозрачным, чтобы показать фон кнопки */
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
cursor: pointer;
font-size: 256px;
}
.button:hover {
    background: url(/img/upload_hover.png);
    background-repeat: no-repeat;
    background-size: 256px;
}